@font-face {
    font-family: grotesk;
    src: url("../../assets/fonts/grotesk.ttf");
}


.what_arrow {
    width: 100px;
    margin: 2rem 0 4rem 0;
}
.second__fold {
    padding: var(--body-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
    font-size: var(--large-text-size);
    font-family: sf-pro, Arial, sans-serif;
    margin-bottom: 2rem;
    }
}

.details__left {
    strong {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.2rem;
    }
}

.attribute__post {
    font-family: sf-pro;
    font-size: 4rem;
    line-height: 1.2;
}

.attribute__card__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.attribute__card__details {
    display: flex;
    justify-content: space-between;
    align-items: ce;
}

.attribute__card__white {
    background-color: #D8D8D8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000;
    padding: 3rem;
    border-radius: 5px;

    .attribute__card__details {
        border-top: 3px solid #000;
        padding: 2rem 0;
    }
}

.attribute__card__black {
    @extend .attribute__card__white;
    background-color: #000;
    color: #fff;

    .attribute__card__details {
        border-top: 3px solid #d8d8d8;
        padding: 2rem 0;
    }

    .button-74 {
        background-color: #fff;
    }

    .button-50 {
        background-color: #d8d8d8;
        color: #000;

        &:hover {
        background-color: #000;
        color: #d8d8d8;
        border: 1px solid white;
        }
    }
}

/* CSS */
.button-74 {
    background-color: #fff;
    border: 2px solid #000000;
    border-radius: 30px;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    padding: 0 18px;
    line-height: 2;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: max-content;
    margin: 3rem 0;
    text-align: left;

    &::after {
        content: "➝";

    }
}

.button-74:hover {
    background-color: #fff;
}

.button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.glowing-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(102, 255, 0);
    box-shadow: 0 0 10px #fff;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #fff;
    }

    50% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@media (min-width: 768px) {
    .button-74 {
        min-width: 120px;
        padding: 0 25px;
    }
}

@media only screen and (max-width: 767px) {

    //code goes here
    .second__fold {
        padding: 1rem;
    }

    .attribute__card__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .what_arrow {
        width: 50px;
    }
}

.gothic {
    font-family: gothic;
}



/* CSS */
.button-50 {
    appearance: button;
    transition: all 0.2s ease-in;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 200px;
    font-family: sf-pro;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: bold;
    
    &:focus {
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
        background-color: #d8d8d8;
        color: #000;
        border: 1px solid #000;
    }

    &:active {
        box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
        outline: 0;
    }

    &:not([disabled]):active {
        box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
        transform: translate(2px, 2px);
    }

}


@media (min-width: 768px) {
    .button-50 {
        padding: 12px 50px;
    }
}
@media (max-width: 768px) {
    .button-50 {
        width: 50%;
        padding: 1rem;
    }
}