.brands__container {
    padding: 3rem;

    h4 {
        font-size: 3rem;
        font-family: grotesk;
        
    }
}


.brand__box {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    padding: 2rem;
}

.brand__box {
    
    img {
        width: 100%;
        
    }
}