.brands__container {
    padding: var(--body-padding);

    h4 {
        font-size: var(--large-text-size);
        font-family: sf-pro, Arial, sans-serif;
        margin-bottom: 4rem;
    }
}

.doodle {
    display: inline-block;
    position: relative;
    
    img {
    position: absolute;
    left: -19px;
    top: -7px;
    }
}
.brand__box {
    width: 150px;
    height: 150px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2rem;
    display: flex;
    align-items: center;
    filter: grayscale(1);
}

.brand__box {
    
    img {
        width: 100%;
        
    }
}

@media only screen and (max-width: 600px) {
  //code goes here

  .brands__container {

    h4 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
  }
}