.skills-container {

    img {
        width: 200px;
        margin: auto;
        display: flex;
    }

    h2 {
        font-family: "sf-pro-light";
        font-size: var(--extra-large-text);
        margin: 3rem 0;
    }
}

.skills__block__container {
    display: flex;
    margin: 5rem 0;
}

.skills__tools__left {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
        width: 50px;
        height: 50px;
        margin: 0;
    }

    .icons {
        display: flex;
        gap: 3rem;
    }
}

.skills__details {
    line-height: 1.5;

    h3 {
        border-bottom: 3px solid black;
        width: fit-content;
        color: var(--theme-color);
    }

    p span {
        color: var(--theme-color);
        font-weight: bold;
    }
}

/* Set the animation properties */
.floater {
    animation-name: float;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@media only screen and (max-width: 800px) {
  //code goes here
  .skills__block__container {
    flex-direction: column;
    margin: 3rem 0;
}
    .floater {
        width: 100px !important;
        margin: 2rem auto !important;
    }
.skills__tools__left {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    img {
        width: 50px;
        height: 50px;
        margin: 0;
    }

    .icons {
        display: flex;
        gap: 3rem;
    }
}

}