.about_me {
    padding: var(--body-padding);
    font-family: "sf-pro";
    flex-direction: column;
}

.about__me__second__fold {
    margin-top: 3rem;

    h2 {
        font-family: "sf-pro-light";
        font-size: var(--extra-large-text);

        span {
            font-family: "sf-pro-italic";
        }
    }
}

.sf-italic {
    font-family: 'sf-pro-italic' !important;
}
/* CSS */
.about_me_btn {
    align-items: center;
    appearance: none;
    background-color: transparent;
    border-radius: 24px;
    font-weight: bold;
    border: 3px solid #ff5757;
    box-sizing: border-box;
    color: #000;
    cursor: pointer !important;
    display: inline-flex;
    fill: currentcolor;
    font-family: "sf-pro", Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    height: 48px;
    justify-content: center;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 20px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
    cursor: none;

    img {
        width: 30px;
        margin: 0 10px;
    }
}

.second_fold_block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 3rem;

}

.about__me__txt {
    width: 80%;

    p {
        font-size: var(--medium-text-size);
        margin: 0 0 2rem 0;
        line-height: 1.5;
    }
}

.principles__block__container {
    margin: 5rem 0 15rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.principle__capsule {
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 150px;
    position: relative;
    background-color: #f9f9eb;
    border-radius: 100px;
    transition: all 0.5s ease-out;
    cursor: pointer;
    align-items: center;

    .principle__emoji {
        font-size: 5rem;
        padding: 2rem;
    }

    .principle__copy {
        font-size: var(--medium-text-size);
        padding: 1rem;
    }

    span {
        font-family: "sf-pro-italic";
        font-weight: bold;
    }
}

.principle__copy {
    /* other styles */
    overflow: hidden;
    transition: all 0.9s ease;
}

.shorty {
    font-size: var(--medium-text-size);
    opacity: 1;
    transition: all 0.9s ease;
    transform: translateY(0);
}

.not_shorty {
    opacity: 0;
    position: absolute;
    transform: translateY(-10%);
    font-size: var(--medium-text-size);

}

.hover__effect {
    transform: translateY(90%);
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.show-long-text {
    transition: all 0.9s ease;
    transform: translateY(0);
    opacity: 1;

}


@media only screen and (max-width: 767px) {
    //code goes here

    .about_me_btn {
        margin: 2rem 0;
    }

    .about__me__second__fold {
        margin-top: 2rem;
    }

    .second_fold_block {
        flex-direction: column;
        margin: 0;
    }

    .about__me__txt {
        width: 100%;

        p {
            font-size: var(--medium-text-size);
            margin: 0 0 0rem 0;

        }
    }

    .principles__block__container {
        gap: 2rem;
        grid-template-columns: 1fr;
        margin: 2rem 0 5rem 0;
    }

    .shorty {
        font-size: 2rem !important;
    }

    .not_shorty {
        font-size: 2rem !important;
    }

    .principle__capsule {

        height: auto;

        .principle__emoji {
            font-size: 3rem;
            padding: 2rem;
        }

    }
}


.quotation {
    position: relative;
    span {
        color: var(--theme-color);
        font-style: italic;
        font-weight: bold;

    }

    font-family: "sf-pro-light";
    font-size: var(--extra-large-text);
    text-align: center;
    margin: auto;
    letter-spacing: 0px;
    margin: 2rem 0;
}

.quote-icon {
    transform: rotate(180deg);
    position: absolute;
    left: -20px;
}
.human_underline {
    display: inline-block;
    position: relative;
}

@media only screen and (max-width: 600px) {

.principle__emoji {
        animation: pulse infinite 2s;

}
  //code goes here
  .quotation {
    font-size: 2rem !important;
  }
  .quote-icon {
   width: 15px;
   height: 15px;
    left: -2px;
}
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(0.95);
	}
}