@font-face {
  font-family: gothic;
  src: url("../../assets/fonts/gothic.ttf");
}

nav {
    display: flex;
    font-size: var(--large-text-size);
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}


.logo {
  font-family: gothic;
  line-height: 1.5;
}