@font-face {
  font-family: gothic;
  src: url("../../assets/fonts/gothic.ttf");
}

@font-face {
  font-family: sf-pro;
  src: url("../../assets/fonts/sf-pro-text-regular.woff");
}


@font-face {
  font-family: neue-bold;
  src: url("../../assets/fonts/NeueMachina-Regular.otf");
}


nav {
  --background: white;
    display: flex;
    font-size: var(--large-text-size);
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    font-family: 'Inconsolata', monospace;
    position: sticky;
    top: 0;
    height: 10vh;
    background-color: var(--background);
    z-index: 3;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}



.logo {
  font-family: gothic;
  line-height: 1.5;
}

.header-right {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-family: 'Inconsolata', monospace;
  text-transform:uppercase;
  letter-spacing: 1px;

}

/* CSS */
.button-4 {
  appearance: none;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 2px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: var(--base-font-color);
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  min-width: 75px;
}

.button-4:hover {
  background-color: #000;
  color: var(--body-color);
  border: 1px solid var(--body-color);
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

@media only screen and (max-width: 767px) {
  //code goes here
  
  nav {
    padding: 1.5rem;
  }
}