.blog__listing {
    padding: var(--body-padding);
    margin: 3rem 0;
    font-size: var(--medium-text-size);
    flex-direction: column;
}

.blog__listing__container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 3rem auto;

}

.number {
    font-size: 1.2rem;
    color: gray;
}

.blog__listing__div {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 0;
    padding-bottom: 2rem;
    border-bottom: 2px solid rgb(214 214 214);
    cursor: pointer;
}

.listing__image {
    width: 200px;
    height: 200px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.listing__date {
    color: gray;
    margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  //code goes here
}   
