footer {
    background-color: #000000;
    color: white;
    margin: -20px 0;
    padding: 3rem;
    font-family: 'sf-pro';

    .footer__hello {
        line-height: 1.5;
        font-size: 18rem;
        margin: 0;
    }
}


.footer__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;

    .footer__links__hyperlinks {
        display: flex;
        gap: 3rem;
        padding: 3rem;

        a {
            font-size: var(--large-text-size);
        }
    }
}

.footer__links__email {
    border-top: 1px solid #f2f2f2;
    padding: 2rem 0;
    font-size: var(--extra-large-text);
    font-family: 'sf-pro';
    margin: 0;
}

.footer__links__social {
    display: flex;
    padding: 0;

    .social_icon_container {
        padding: 3rem;
        background: #ff5757;
        border-radius: 50%;
        transition: all 0.3s ease-in;

        &:hover {
            background-color: #f2f2f2;
            color: #ff5757;
        }
    }
}

.socials {
    border-left: 1px solid;
    padding: 5rem;

}

.created_by {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 50px;
    }
}

.arrow_div {
    width: 50px;
    height: 50px;
    background: linear-gradient(180deg, #202022 2%, #202022 49.84%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;

}

.go-top-container {

    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: center;

}