.weekly__inspiration {
    flex-direction: column;
    padding: var(--body-padding);
    font-family: "sf-pro";

    h2 {
        font-size: var(--large-text-size);
    }

    p {
        font-size: var(--medium-text-size);
    }

    background-color: #333333;
    color: #fff;
}

.smally {
    margin-right: auto;
}
.secondary.smally {
    img {
        object-fit: contain;
    }
}
.image__grid__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: 5rem 0;
    .highlight {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }
}


.image__grid__images img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


@media only screen and (max-width: 600px) {
    .weekly__inspiration {


    h2 {
       margin-top: 3rem;
    }
}
  //code goes here
  .image__grid__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    margin: 3rem 0 5rem 0;
    .highlight {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }

    * {
        cursor: pointer;
    }
}
.smally {
    height: 100%;
}
.secondary.smally {
    img {
        object-fit: cover;
    }
}
}