@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;700&display=swap');

:root {
  --body-color: #E8E8EA;
  --yello: #FFD341;
  --base-font-color: #000;
  --extra-large-text: 8rem;
  --large-text-size: 3rem;
  --medium-text-size: 2rem;
  --small-text-size: 1.6rem;
  --body-padding: 3rem;
}

@media only screen and (max-width: 600px) {

  :root {
  --extra-large-text: 3rem;
  --large-text-size: 3rem;
  --medium-text-size: 1.5rem;
  --small-text-size: 1.6rem;
  --body-padding: 1rem;
}
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1440px;
  display: flex;
  margin: auto;
}
* {
  box-sizing: border-box;
}

/* Remove margin and padding from body */
body {
  margin: 0;
  padding: 0;
  background-color: var(--body-color);
  color: var(--base-font-color);
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: var(--small-text-size);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

}

/* Reset default styles for heading elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

/* Reset default styles for list elements */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Reset default styles for table elements */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset default styles for form elements */
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* Reset default styles for form elements */
button,
input {
  line-height: normal;
}

/* Reset default styles for table elements */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove default styles for hyperlinks */
a {
  color: inherit;
  text-decoration: none;
}