.vertical-timeline-element-content {
    background: #f9f9eb;
}

.vertical-timeline-element-date {
    color: black !important;
    font-family: 'sf-pro';
    font-size: var(--medium-text-size) !important;
}

.vertical-timeline-element-content p {
    font-size: 2rem !important;
}

@media only screen and (max-width: 600px) {
  //code goes here
  .vertical-timeline-element-content p {
    font-size: 1.5rem !important;
}
}
