.vertical-timeline-element-content {
    background: #f9f9eb;
}

.vertical-timeline-element-date {
    color: black !important;
    font-family: 'sf-pro';
    font-size: var(--medium-text-size) !important;
}

.vertical-timeline-element-content p {
    font-size: 16px;
    font-size: 2rem !important;
}